@use '@/styles' as *;

.layout {
  min-height: 100vh;
  background: $bg-main;
}

.main {
  margin-left: $sidebar-width;
  margin-top: $header-height;
  padding: $spacing-3xl $spacing-4xl;
  min-height: calc(100vh - #{$header-height});
  
  @include tablet {
    margin-left: 0;
    padding: $spacing-lg;
  }
  
  @include mobile {
    margin-left: 0;
    padding: $spacing-md;
  }
}
