@use '@/styles' as *;

.thButton {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;

    &:hover {
        color: $primary;
    }
}